html,
			body,
			ul,
			input {
				margin: 0;
				padding: 0;
			}
			
			.top {
				width: 100%;
				height: 40px;
				background-color: #000000;
				margin-bottom: 20px;
			}
			
			.top_center {
				width: 1266px;
				overflow: hidden;
				margin: 0 auto;
				color: #b0b0b0;
				padding-top: 16px;
				padding-bottom: 12px;
				font-size: 12px;
			}
			
			.top_center a {
				color: #b0b0b0;
				text-decoration: none;
				margin-right: 8px;
			}
			
			.top_center_left {
				float: left;
				font-size: 12px;
				height: 12px;
			}
			
			.top_center_right {
				float: right;
				font-size: 12px;
				height: 12px;
			}
			
			.q {
				padding-top: 16px;
				padding-bottom: 12px;
				padding-left: 17px;
				padding-right: 20px;
				background-color: #424242;
			}
			
			.box-a {
				width: 100%;
				overflow: hidden;
				background-color: #FFFFFF;
			}
			
			.a {
				width: 1266px;
				margin: 0 auto;
				height: 55px;
				margin-bottom: 20px;
			}
			
			.a_left {
				float: left;
				margin-right: 130px;
			}
			
			.a_center {
				line-height: 55px;
				float: left;
			}
			
			.a_center a {
				color: #424242;
				text-decoration: none;
				margin-right: 30px;
			}
			
			.a_right {
				float: right;
			}
			
			.a_right form input[type="text"] {
				width: 245px;
				height: 50px;
				outline: none;
				font-size: 16px;
				text-indent: 1em;
			}
			
			.a_right form input[type="botton"] {
				width: 55px;
				height: 50px;
				font-size: 20px;
				text-align: center;
			}
			
			.a_right_a {
				float: left;
			}
			
			.a_right_b {
				float: left;
			}
			
			.b {
				width: 1266px;
				margin: 0 auto;
				margin-bottom: 20px;
				overflow: hidden;
			}
			
			.b_left {
				width: 235px;
				height: 460px;
				background-color: #273032;
				float: left;
			}
			
			.b_left ul {
				margin: 35px 30px;
			}
			
			.b_left ul li {
				list-style: none;
				margin-bottom: 26px;
				font-size: 12px;
			}
			
			.b_left a {
				color: #ffffff;
				text-decoration: none;
			}
			
			.b_left a:link {
				color: #ffffff;
			}
			
			.b_left a:hover {
				color: #33FFFF;
			}
			
			.b_left ul span {
				float: right;
				color: #ffffff;
			}
			
			.b_right {
				width: 971px;
				float: left;
			}
			
			.b_right img {
				width: 1026px;
				height: 460px;
			}
			
			.c {
				clear: both;
				width: 1266px;
				margin: 0 auto;
				margin-bottom: 45px;
				overflow: hidden;
			}
			
			.c_left {
				width: 235px;
				float: left;
			}
			
			.c_left table td {
				font-size: 12px;
				width: 78px;
				height: 84px;
				border-top: 0;
				border-right: 1px solid #999;
				border-bottom: 1px solid #999;
				border-left: 0;
			}
			
			.c_left table td a {
				color: #FFFFFF;
				text-decoration: none;
			}
			
			.c_right {
				width: 1031px;
				height: 170px;
				float: right;
			}
			
			.c_right img {
				margin-left: 22px;
			}
			
			.d {
				clear: both;
				width: 1266px;
				margin: 0 auto;
				margin-bottom: 70px;
				overflow: hidden;
			}
			
			.d_top {
				clear: both;
				width: 1266px;
				height: 40px;
			}
			
			.d_top_left {
				float: left;
				font-size: 22px;
			}
			
			.d_top_right {
				float: right;
			}
			
			.d_top_right input[type=button]{
				width: 20px;
				height: 20px;
				margin-right: 6px;
				border: 1px solid deepskyblue;
				outline: none;
				background-color: white;
			}
			
			.d_bottom div {
				float: left;
				width: 237px;
				height: 300px;
				margin-right: 16px;
				font-size: 12px;
				background-color: #FAFAFA;
				border-top: 1px solid red;
			}
			
			.d_bottom div img {
				margin-left: 38px;
				margin-right: 38px;
			}
			
			.box-b {
				width: 100%;
				overflow: hidden;
				background-color: #F5F5F5;
			}
			
			.e {
				clear: both;
				width: 1266px;
				margin: 0 auto;
				margin-bottom: 50px;
				overflow: hidden;
			}
			
			.e_top {
				width: 1266px;
				height: 95px;
				line-height: 95px;
			}
			
			.e_top_left {
				float: left;
				font-size: 22px;
			}
			
			.e_top_right {
				float: right;
			}
			
			.e_top_right a {
				color: black;
				text-decoration: none;
				font-size: 16px;
			}
			
			.e_bottom_left {
				float: left;
				margin-right: 16px;
			}
			
			.e_bottom_right {
				float: right;
				width: 1016px;
				height: 618px;
			}
			
			.e_bottom_right div {
				float: left;
				width: 237px;
				height: 300px;
				margin-right: 16px;
				margin-bottom: 16px;
				font-size: 12px;
				background-color: #FFFFFF;
			}
			
			.e_bottom_right div img {
				margin-left: 38px;
				margin-right: 38px;
			}
			
			.f {
				clear: both;
				width: 1266px;
				margin: 0 auto;
				margin-bottom: 50px;
				overflow: hidden;
			}
			
			.f_top {
				width: 1266px;
				height: 48px;
			}
			
			.f_top_left {
				float: left;
				font-size: 22px;
			}
			
			.f_top_right {
				float: right;
			}
			
			.f_top_right a {
				color: black;
				text-decoration: none;
				font-size: 16px;
			}
			
			.f_bottom_left {
				float: left;
				margin-right: 16px;
				height: 618px;
			}
			
			.f_bottom_left div {
				margin-bottom: 12px;
			}
			
			.f_bottom_right {
				float: right;
				width: 1016px;
				height: 618px;
			}
			
			.f_bottom_right div {
				float: left;
				width: 237px;
				height: 300px;
				margin-right: 16px;
				margin-bottom: 16px;
				font-size: 12px;
				background-color: #FFFFFF;
			}
			
			.f_bottom_right div img {
				width: 160px;
				height: 160px;
				margin-left: 38px;
				margin-right: 38px;
			}
			
			.g {
				clear: both;
				width: 1266px;
				margin: 0 auto;
				margin-bottom: 50px;
				overflow: hidden;
			}
			
			.g_top {
				width: 1266px;
				height: 48px;
				font-size: 22px;
			}
			
			.g_bottom div {
				float: left;
				width: 296px;
				height: 380px;
				margin-right: 20px;
				font-size: 12px;
				background-color: #FFFFFF;
			}
			
			.g_bottom div p {
				padding-left: 2em;
			}
			
			.h {
				clear: both;
				width: 1266px;
				margin: 0 auto;
				margin-bottom: 80px;
				overflow: hidden;
			}
			
			.h_top {
				width: 1266px;
				height: 48px;
				font-size: 22px;
			}
			
			.h_bottom div {
				float: left;
				width: 296px;
				height: 285px;
				margin-right: 20px;
				font-size: 12px;
				background-color: #FFFFFF;
			}
			
			.box-c {
				width: 100%;
				overflow: hidden;
				background-color: #FFFFFF;
			}
			
			.i {
				clear: both;
				width: 1266px;
				margin: 0 auto;
				margin-bottom: 16px;
				overflow: hidden;
			}
			
			.i_top {
				width: 1266px;
				height: 80px;
				font-size: 16px;
				line-height: 80px;
				border-bottom: 1px solid #9D9D9D;
			}
			
			.i_bottom {
				width: 1266px;
				height: 212px;
			}
			
			.i_bottom_left {
				font-size: 16px;
			}
			
			.i_bottom_left div {
				width: 80px;
				height: 212px;
				margin-right: 80px;
				float: left;
			}
			
			.i_bottom_left div ul {
				margin-top: 20px;
			}
			
			.i_bottom_left div ul li {
				margin-bottom: 22px;
				list-style: none;
				font-size: 14px;
			}
			
			.i_bottom_left div ul li a {
				text-decoration: none;
				color: #9D9D9D;
			}
			
			.i_bottom_right {
				width: 260px;
				float: right;
			}
			
			.i_bottom_right div {
				width: 200px;
				height;
				127px;
				float: left;
				margin-top: 50px;
				border-left: 1px solid #9D9D9D;
			}
			
			.box-c {
				width: 100%;
				overflow: hidden;
				background-color: #F5F5F5;
			}
			
			.j {
				clear: both;
				width: 1266px;
				height: 200px;
				margin: 0 auto;
				overflow: hidden;
				margin-top: 20px;
			}
			
			.j_left {
				float: left;
				margin-right: 15px;
			}
			
			.j_center {
				float: left;
				color: #b0b0b0;
				font-size: 12px;
			}
			
			.j_center a {
				color: #b0b0b0;
				text-decoration: none;
				margin-right: 8px;
				font-size: 16px;
			}
		